[submodule "ps/ps0"]
	path = ps/ps0
	url = git@github.com:sbwcwso/sc-ps0.git
[submodule "ps/ps1"]
	path = ps/ps1
	url = git@github.com:sbwcwso/sc-ps1.git
[submodule "example/ex18-intexpr"]
	path = example/ex18-intexpr
	url = git@github.com:sbwcwso/sc-ex18-intexpr.git
[submodule "example/ex19-matrixmul"]
	path = example/ex19-matrixmul
	url = git@github.com:sbwcwso/sc-ex19-matrixmul.git
[submodule "ps/ps2"]
	path = ps/ps2
	url = git@github.com:sbwcwso/sc-ps2.git
[submodule "example/ex22-editor"]
	path = example/ex22-editor
	url = git@github.com:sbwcwso/sc-ex22-editor.git
[submodule "example/ex23-fridge"]
	path = example/ex23-fridge
	url = git@github.com:sbwcwso/sc-ex23-fridge.git
[submodule "example/ex24-echo"]
	path = example/ex24-echo
	url = git@github.com:sbwcwso/sc-ex24-echo.git
[submodule "example/ex25-callbacks"]
	path = example/ex25-callbacks
	url = git@github.com:sbwcwso/sc-ex25-callbacks.git
[submodule "example/ex26-words"]
	path = example/ex26-words
	url = git@github.com:sbwcwso/sc-ex26-wrods.git
[submodule "example/ex27-music-starting"]
	path = example/ex27-music-starting
	url = git@github.com:sbwcwso/ex27-music-starting.git
[submodule "example/ex28-fromula"]
	path = example/ex28-fromula
	url = git@github.com:sbwcwso/sc-ex28-formula.git
[submodule "ps/ps3"]
	path = ps/ps3
	url = git@github.com:sbwcwso/sc-ps3.git
[submodule "ps/ps4"]
	path = ps/ps4
	url = git@github.com:sbwcwso/sc-ps4.git
